/* START SCREEN */
body, html {
    height: 100%;
}

.bg {
  background-image: url('/images/map.png');
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ping {
  width: 50px;
  position: relative;
}

.levelone {
  top: 100px;
  left: 200px;
}

.leveltwo {
  top: 400px;
  left: 200px;
}

.levelthree {
  top: 400px;
  left: 400px;
}

.levelfour {
  top: 100px;
  left: 800px;
}

.levelfive {
  top: 300px;
  left: 870px;
}

.levelsix {
  top: 100px;
  left: 1000px;
}

/* LEVEL ONE FUNCTIONALITY */
.leaf {
  width: 150px;
  z-index: 1000;
  position: fixed;
  bottom: 10%;
  left: 10%;
}

.disappear {
  transition-duration: 4s;
  transform: translate(-600px, -300px);
}

.smalltablet {
  width: 100px;
  position: fixed;
  bottom: 10%;
  left: 10%;
  display: block;
}

.move {
  transition-duration: 4s;
  bottom: 80%;
  left: 85%;
}

.toToolkit {
  transition-delay: 10s;
  /* bottom: 20%;
  left: 50%; */
}

/* .move.toToolkit {
  transition-delay: 10s;
  display: none;
  } */

.modal-x {
  padding: 10px;
  background-color: white;
  border-color: black;
  border-width: 1.5px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 100px;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-img {
  height: 90%;
}
