.disappear {
  transition-duration: 7s;
  transform: translate(-600px, -1000px);
}


.leaf {
  width: 100px;
  z-index: 1000;
  position: fixed;
}

.smalltablet {
  width: 100px;
  position: fixed;
}

.toToolkit {
  /* display: none; */
}
